body {
	color: #000000;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	line-height: 28px;
	 font-size: 18px;
}

div{
	margin-bottom: 40px;
}

h1 {
	color: #3CB371;
	font-size: 25px;
	margin-bottom: 15px;
}

h2 {
	color: #3CB371;
	font-size: 20px;

}
h3 {
	color: #3CB371;
	font-size: 20px;

}

nav a {
	color: #DC143C;
}

nav{
	margin-bottom: 30px;
}

img {
  width:  auto;
  height: auto;
}

li {
  width: 200px;
  display: inline-flex;
  display: -webkit-inline-flex;
  justify-content: center;
  text-align: center;
  f font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  margin: 2px;
  border-radius: 10px;
}

/*skip to content*/

.skip-main {
        position: absolute;
        top: -1000px;
        left: -1000px;
        height: 1px;
        width: 1px;
        text-align: left;
        overflow: hidden;
    }

    a.skip-main:focus {
    	left: 0; 
        top: 0;
        width: auto; 
        height: auto; 
        overflow: visible; 
        z-index: 1;
        color: #FFFFFF;
        background-color: #F60909;
    }

 /*footer*/
footer nav div{
	font-weight: bold;
}

footer a .fa-spotify {
	font-size:55px;
	color: #1DB954
}

 .fa-pizza-slice {
 	color:#E31824;
 }

footer a .fa-instagram  {
	font-size: 55px;
 	color: #E4405F;
 }

 footer a .fa-twitter-square  {
 	font-size: 55px;
 	color: #55ACEE;
 }

 /*background image main page*/
.my-container {
    position: relative;
    background: #5C97FF;
    overflow: hidden;
}
.my-container h1 {
    padding: 200px;
    text-align: center;
    z-index: 2;
    position: relative;
    color: #FFFAFA;
} 
.my-container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    opacity: 0.6;
}

 /*header*/
header nav a {
  width: 250px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  background-color: #910C0C;
  border-radius: 16px;
  text-decoration: none;
  color: #FFFFFF;
}

header nav a.current {
	color: 	#FFFFFF;
	background-color: #D81C99;
	font-weight: bold;

}

 /*flex layout midwest*/
.flex-container-mw {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.flex-container-mw .box{
  width: 50%;
  margin: 0px;
  text-align: center;
  line-height: 25px;
  font-size: 18px;
}

.flex-container-mw img{
	width:350px;
height: 350px;}

 /*flex layout east coast*/

.boxes {
  padding: .5vw;
  justify-content: center;
  display: flex;
}

.box {
  margin: .5vw;
  padding: .5vw;
  flex: 1 0 auto;
  width: 300px;
  font-size: 18px;
  
}
.box img {
  width:350px;
  height: 350px;
}

 /*flex layout south*/
.flex-container-s {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.flex-container-s .box{
  width: 50%;
  margin: 0px;
  text-align: center;
  line-height: 25px;
  font-size: 18px;
}

.flex-container-s img{
	width:350px;
height: 350px;}

 /*flex layout contributors*/
 /* Horizontal flex: rows
   =====================
*/

.row-c {
  display: flex;
}

.item-c {
  flex: 1 1 1%;
}


/* Vertical flex: items
   ===================
*/

.item-c {
  display: flex;
  flex-direction: column;
}