body {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  line-height: 48px;
  font-size: 30px;

}

.description {
  margin-bottom: 40px;
  margin-top: 40px;
}

.quick-start {
  margin-bottom: 40px;
}

div {
  margin-bottom: 40px;
}

h1 {
  color: #369F64;
  font-size: 55px;
  margin-bottom: 45px;
  text-align: center;
}

h2 {
  color: #369F64;
  font-size: 45px;

}
h3 {
  color: #369F64;
  font-size: 38px; 
  margin-top: 35px;
}

nav a {
  color: #DC143C;
}

nav{
  margin-bottom: 30px;
}

img {
  width:  auto;
  height: auto;
}

li {
  width: 200px;
  display: inline-flex;
  display: -webkit-inline-flex;
  justify-content: center;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin: 2px;
  border-radius: 10px;
}

p{
  line-height: 36px;
}

/*skip to content*/

.skip-main {
        position: absolute;
        top: -1000px;
        left: -1000px;
        height: 1px;
        width: 1px;
        text-align: left;
        overflow: hidden;
    }

    a.skip-main:focus {
      left: 0; 
        top: 0;
        width: auto; 
        height: auto; 
        overflow: visible; 
        z-index: 1;
        color: #FFFFFF;
        background-color: #F60909;
        font-size: 18px;
    }

 /*footer*/
footer nav div{
  font-weight: bold;
}

footer a .fa-spotify {
  font-size:55px;
  color: #1DB954
}

 .fa-pizza-slice {
  color:#E31824;
 }

footer a .fa-instagram  {
  font-size: 55px;
  color: #E4405F;
 }

 footer a .fa-twitter-square  {
  font-size: 55px;
  color: #55ACEE;
 }

 /*background image main page*/
.my-container {
    position: relative;
    background: #5C97FF;
    overflow: hidden;
}
.my-container h1 {
    padding: 200px;
    text-align: center;
    z-index: 2;
    position: relative;
    color: #FFFAFA;
    line-height: 65px;
} 
.my-container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    opacity: 0.6;
}

 /*header*/
header nav li {
  width: 550px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background-color: #910C0C;
  border-radius: 50px;
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}
header nav li a{
  width: 550px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background-color: #910C0C;
  border-radius: 500px;
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

header nav a.current {
  width: 550px;
  text-align: center;
  border-radius: 500px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #D81C99;
  font-weight: bold;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;

}
 /*flex layout east coast*/

.wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}
.wrapper > * {
  padding: 1px;
 flex: 100%;
}

.wrapper {
  flex-direction: column;
  max-width: 100%;
  margin: 0px;
    flex-direction: row;
  }

  .block  {
    flex-basis: 1%;
      
  }  

  .block-content-p  {
   flex: .5px;
    padding: 0.5px;
      text-align: center;
  } 
    .block-content-d-mw  {
   flex: .5px;
    padding: 0.5px;
      text-align: left;
       margin-top: -55px;

  } 

  .block-content-d-ec  {
   flex: .5px;
    padding: 0.5px;
      text-align: left;
      margin-top: -55px;
  } 
  .image-wrapper {
    flex: 3;

  }
.image-wrapper img {
  width:320px;
  height: 420px;
      box-shadow: 0 20px 15px -15px rgba(50,50,50,0.33);
      object-position: 50% 50%;

}
.image-wrapper-2 img {
  width:350px;
  height: 350px;
      box-shadow: 0 20px 15px -15px rgba(50,50,50,0.33);
      object-position: 50% 50%;

}
.image-wrapper-3 img {
  width:400px;
  height: 300px;
      box-shadow: 0 20px 15px -15px rgba(50,50,50,0.33);
      object-position: 50% 50%;
}


 /*flex layout contributors*/
 /* Horizontal flex: rows
   =====================
*/

.row-c {
  display: flex;
}

.item-c {
  flex: 1 1 1%;
}
.item-c p{
  margin-right: 15px;
  margin-left: 15px;
}


.item-c img{
  width: 280px;
  height:380px;
}


/* Vertical flex: items
   ===================
*/

.item-c {
  display: flex;
  flex-direction: column;
}