body {
	color: #000000;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	line-height: 28px;
	font-size: 15px;
}

h1 {
	color: #3CB371;
	font-size: 25px;
}

h2 {
	color: #3CB371;
	font-size: 20px;
}
 .fa-pizza-slice {
 	color:#E31824;
 }

footer a .fa-instagram  {
	font-size: 35px;
 	color: #E4405F;
 }

 footer a .fa-twitter-square  {
 	font-size: 35px;
 	color: #55ACEE;
 }

footer a .fa-spotify {
	font-size: 35px;
	color: #1DB954
}

.skip-main {
        position: absolute;
        top: -1000px;
        left: -1000px;
        height: 1px;
        width: 1px;
        text-align: left;
        overflow: hidden;
    }

    a.skip-main:focus {
    	left: 0; 
        top: 0;
        width: auto; 
        height: auto; 
        overflow: visible; 
        z-index: 1;
        color: #FFFFFF;
        background-color: #F60909;
    }


footer nav div{
	font-weight: bold
}
nav a {
	color: #DC143C;
}
header nav a.current {
	color: 	#FFFFFF;
	background-color: #D81C99;
	font-weight: bold;

}

img {
  width:  350px;
  height: 350px;
}

.my-container {
    position: relative;
    background: #5C97FF;
    overflow: hidden;
}
.my-container h1 {
    padding: 200px;
    text-align: center;
    z-index: 2;
    position: relative;
    color: #FFFAFA;
} 
.my-container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    opacity: 0.6;
}


li {
  width: 200px;
  display: inline-flex;
  display: -webkit-inline-flex;
  justify-content: center;
  text-align: center;
  f font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  margin: 2px;
  border-radius: 10px;
}

header nav a {
  width: 200px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  background-color: #910C0C;
  border-radius: 10px;
  text-decoration: none;
  color: beige;
}


header nav a:hover {
  width: 200px;
  text-align: center;
  font-family: 'Special Elite', cursive;
  font-size: 1.0em;
  padding: 20px;
  margin: 2px;
  background-color: #E71D1D;
  border-radius: 10px;
  text-decoration: none;
  color: #FFFFFF;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.flex-container .box {
  width: 50%;
  margin: 0px;
  text-align: center;
  line-height: 35px;
  font-size: 18px;
}
